.logo {
	margin-top: 15px;
}


body {
	min-height: 100%;
    background-position: 40% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg3.jpg);;
}

* .container{
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.57);
    width: 500px;

}

header {
	margin-top: 10px;
}

.btn1 {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
    box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
}

.btn-pdf {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
    box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
}

.btn-imp {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
    box-shadow: 0 5px 5px -6px rgba(0,0,0,.3);
}


footer {
	margin-bottom: 15px;
}

table {
	border: 5px;   
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

h4{
    color: #d9534f;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2;
    border-top: 1px solid #ddd;
}

